<div class="card" routerLink="/users/{{ user.id }}">
  <div class="row no-gutters">
    <div class="col-md-4 my-auto">
      <img
        [src]="user.photoUrl || 'assets/default.png'"
        class="img-fluid d-block mx-auto rounded-circle img-thumbnail"
        alt="user's profile photo"
      />
    </div>

    <div class="col-md-8 my-auto justify-content-between no-gutters">
      <div class="card-body p-2">
        <h4 class="mb-2">{{ user.firstName }} {{ user.lastName }}</h4>
        <hr />

        <div class="row">
          <div class="col-md-8">
            <label> Nazwa użytkownika</label>
          </div>
          <div class="col-md-4">
            <p>{{ user.userName }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <label>Zawód</label>
          </div>
          <div class="col-md-4">
            <p>{{ user.profession }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <label>Rola</label>
          </div>
          <div class="col-md-4">
            <p>{{ user.role }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <label>Identyfikator</label>
          </div>
          <div class="col-md-4">
            <p>{{ user.id }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6"></div>

          <div class="col-md-6">
            <button
              *appUserRole="'Admin'"
              class="btn btn-block btn-outline-danger text-white font-weight-bold"
              (click)="onClick(user.id)"
            >
              Usuń
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
