table{
 margin: 5px auto;
 width: 75% !important;
}

tbody tr:hover{
  cursor: pointer;
}

td{
  padding: 5px;
  display: table-cell;
  vertical-align: middle;
}

img{
  width: 180px;
  height: 180px;
  background-color: transparent;
}

