img {
  max-width: 250px;
  background: transparent;
  margin-top: 20px;
}

.candidates-profile-name {
  font-weight: 700;
}

.card{
  background-color: transparent;
  max-width: 40vw;;
}

label {
  font-weight: 600;
}

p{
  font-weight: 600;
}