<div class="text-center">
  <button (click)="showTable()" class="btn btn-outline-dark text-white">
    Pokaż tabelę
  </button>
  <button (click)="showTile()" class="btn btn-outline-dark text-white">
    Pokaż kafelki
  </button>

  <button (click)="clearConfig()" class="btn btn-outline-dark text-white">
    Wyczyśc filtry
  </button>

  <button (click)="exportToCSV()" class="btn btn-outline-dark text-white">
    Eksportuj do pliku .csv
  </button>

  <div class="d-flex justify-content-center p-2">

    <ngb-pagination
      [(page)]="page"
      [(collectionSize)]="collectionSize"
      [(pageSize)]="pageSize"
    >
    </ngb-pagination>

    <select class="custom-select form-control mx-3"  [(ngModel)]="pageSize">
      <option [ngValue]="2">2 na stronę</option>
      <option [ngValue]="4">4 na stronę</option>
      <option [ngValue]="6">6 na stronę</option>
      <option [ngValue]="8">8 na stronę</option>
      <option [ngValue]="10">10 na stronę</option>
    </select>

    <h3>Sortuj po</h3>

    <select class="custom-select form-control mx-3"  [(ngModel)]="column">
      <option ngValue="firstName">Imionach</option>
      <option ngValue="lastName">Nazwiskach</option>
      <option ngValue="profession">Zawodach</option>
      <option ngValue="id">Identyfikatorach</option>
      <option ngValue="userName">Nazwie użytkownika</option>
    </select>

    <select class="custom-select form-control"  [(ngModel)]="direction">
      <option ngValue="asc">Rosnąco</option>
      <option ngValue="desc">Malejąco</option>
    </select>

   <h3 class="ml-3">Wyszukaj</h3>
   <input class="form-control w-auto mx-3" type="text" name="filter" [(ngModel)]="filterText"/>
   
  </div>
</div>

<app-table
  *ngIf="tableView && dataLoaded"
  [users]="users"
  (deleteUser)="handleUserDelete($event)"
>
</app-table>

<div class="d-flex justify-content-center">
  <div *ngIf="tileView && dataLoaded" class="row">
    <app-tile
      *ngFor="let user of users"
      [user]="user"
      (deleteUser)="handleUserDelete($event)">
    </app-tile>
  </div>
</div>
