<form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)" *ngIf="dataLoaded" novalidate>
  <div class="modal-header">
    <h4 class="modal-title text-dark">Edycja</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group row">
      <div class="col-md-12">
        <input id="firstName" class="form-control" type="text" formControlName="firstName" placeholder="Imię" />

        <div *ngIf="
            editForm.controls['firstName'].invalid &&
            (editForm.controls['firstName'].dirty ||
              editForm.controls['firstName'].touched)
          " class="alert alert-danger">
          <div *ngIf="editForm.controls['firstName'].errors.required">
            Imię jest wymagane
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <input id="lastName" class="form-control" type="text" formControlName="lastName" placeholder="Nazwisko" />

        <div *ngIf="
            editForm.controls['lastName'].invalid &&
            (editForm.controls['lastName'].dirty ||
              editForm.controls['lastName'].touched)
          " class="alert alert-danger">
          <div *ngIf="editForm.controls['lastName'].errors.required">
            Nazwisko jest wymagane
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <input id="profession" class="form-control" type="text" formControlName="profession" placeholder="Zawód" />

      <div *ngIf="
          editForm.controls['profession'].invalid &&
          (editForm.controls['profession'].dirty ||
            editForm.controls['profession'].touched)
        " class="alert alert-danger">
        <div *ngIf="editForm.controls['profession'].errors.required">
          Zawód jest wymagany
        </div>
      </div>
      </div>
    </div>

  
    <div class="form-group row">
      <div class="col-md-12"> 
            <div class="custom-file form-control  mx-auto">
              <input #fileInput  accept="image/*" type="file" class="custom-file-input" id="customFile" (click)="fileInput.value = null"
              (change)="onSelectFile($event.target.files)">
              <label class="custom-file-label" for="customFile">Wybierz nowe zdjęcie</label>
            </div>
          </div>
    </div>

    
  </div>
  <div class class="modal-footer">
    <div class="form-group row no-gutters">
      <div class="col-md-12 ">
        <button class="btn btn-outline-dark float-right text-uppercase" type="submit" [disabled]="
        !(
          editForm.invalid ||
          editForm.controls['firstName'].dirty ||
          editForm.controls['lastName'].dirty ||
          editForm.controls['profession'].dirty ||
          fileUploaded
        )
      " >
      Edytuj
    </button>
      </div>
    </div>
  </div>
</form>
