/* You can add global styles to this file, and also import other style files */
body{
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  background: linear-gradient(to bottom, #556270, #4ECDC4);
  font-weight: 700;
  color: white;
}
